@model Chengdexy.CN.Models.ProgramEdition

<link href="~/CSS/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<script src="~/JS/bootstrap-datetimepicker.js"></script>
<script src="~/JS/bootstrap-datetimepicker.zh-CN.js"></script>
@using (Html.BeginForm("EditProgramEdition", "Admin", FormMethod.Post))
{
    <div class="form-group">
        <input type="hidden" id="hiddenProgramID" name="hiddenProgramID" value="@Model.Program.ID" />
        <input type="hidden" id="hiddenID" name="hiddenID" value="@Model.ID" />
        <label for="inputDate">Publish Date</label>
        <input type="text" class="form-control form-datetime" readonly value="@Model.PublishDate.ToString("yyyy-MM-dd")" id="inputDate" name="inputDate" />
        <script type="text/javascript">
            $(".form-datetime").datetimepicker({
                format: 'yyyy-mm-dd',
                minView: 2,
                autoclose: true,
                todayBtn: true
            });
        </script>
    </div>
    <div class="form-group">
        <label for="inputEditionString">Edition</label>
        <input type="text" class="form-control" id="inputEditionString" name="inputEditionString" value="@Model.EditionString" placeholder="Input Edition String" />
    </div>
    <div class="form-group">
        <label for="inputDownloadUrl">Download Url</label>
        <input type="text" class="form-control" id="inputDownloadUrl" name="inputDownloadUrl" value="@Model.DownloadUrl" placeholder="Input Download Url" />
    </div>
    <button class="btn btn-default" type="submit">更新</button>
}



