@model Chengdexy.CN.Models.BlogPage

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Action("ShowSidebar", new { index = 7 })

<!--内容部分-->
<link href="~/CSS/editormd.css" rel="stylesheet" />
<script src="~/JS/editormd.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd("inputMD", {
            height: 640,
            syncScrolling: "single",
            path: "@HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority)/lib/",
            saveHTMLTOTextarea: true,
            //toolbar: false,
            toolbarIcons:function(){
                return [
                    "undo", "redo", "|",
                    "bold", "del", "italic", "quote", "ucwords", "uppercase", "lowercase", "|",
                    "watch"
                ]
            }
        });
    });
</script>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">编辑博客</h1>
    @using (Html.BeginForm("EditBlog", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <input type="hidden" id="hiddenID" name="hiddenID" value="@Model.ID" />
        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" class="form-control" value="@Model.Title" id="inputTitle" name="inputTitle" placeholder="Input Title" required autofocus />
        </div>
        <div class="form-group">
            <label for="inputSketch">Summary</label>
            <textarea class="form-control" rows="3" id="inputSketch" name="inputSketch" placeholder="Input Summary Here..." required>@Model.Sketch</textarea>
        </div>
        <label for="imageInHome">Image In Home</label>
        <div class="form-group input-group image-preview col-md-6">
            <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
            <div class="input-group-btn">
                <!-- image-preview-input -->
                <div class="btn btn-default image-preview-input">
                    <span class="glyphicon glyphicon-folder-open"></span>
                    <span class="image-preview-input-title">选择</span>
                    <input type="file" accept="image/png, image/jpeg, image/gif" name="image" /> <!-- rename it -->
                </div>
            </div>
        </div>
        @*<p class="help-block">如果不更换图片,请不要上传.</p>*@
        <div class="form-group">
            <label for="inputMD">Blog Content</label>
            <div id="inputMD">
                <textarea style="display:none;" name="inputMD-markdown-doc">@Model.Content</textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
        @*@Html.ActionLink("预览", "PreviewBlog", null, new { @class = "btn btn-default", @roll = "button" })*@
        @Html.ActionLink("返回博文列表", "BlogSettings", null, new { @class = "btn btn-default", @roll = "button", @style = "margin-left:4px;" })
    }
</div>