@model Chengdexy.CN.ViewModels.AdminHomeVM

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


@Html.Action("ShowSidebar", new { index = 1 })

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">欢迎您 @Model.adminName</h1>
    <div>
        <h3>快捷操作:</h3>
        @Html.ActionLink("写一篇新博文", "AddNewBlog", null, new { @class = "btn btn-default" })
        @Ajax.ActionLink("从md文件导入", "ImportBlogFromMD", null, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "importEditor" }, new { @class = "btn btn-default" })
        @Ajax.ActionLink("发布个新作品", "AddProgram", null, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "programEditor" }, new { @class = "btn btn-default" })
        <div id="programEditor"></div>
        <div id="importEditor"></div>
    </div>
    <div>
        <h3>统计信息:</h3>
        <ul>
            <li>累计发表博文: @Model.blogCount 篇</li>
            <li>发布编程作品: @Model.programCount 个</li>
            <li>累计作品版本: @Model.editionCount 个</li>
        </ul>
    </div>
</div>