@model List<Chengdexy.CN.Models.Program>

@{
    ViewBag.Title = "ProgramSettings";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@Html.Action("ShowSidebar", new { index = 6 })

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">编程作品管理</h1>
    <div id="programEditor"></div>
    <h3>已有编程作品:</h3>
    @Ajax.ActionLink("Add New", "AddProgram", null, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "programEditor" }, new { @class = "btn btn-default btn-sm" })
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Last Publish</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <th scope="row">@(i + 1)</th>
                        <td>@Model[i].Ename</td>
                        <td>@Model[i].ProgramEditions.Max(pe => pe.PublishDate).ToString("yyyy-MM-dd")</td>
                        <td>
                            @Ajax.ActionLink("Edit", "PreEditProgram", new { ID = Model[i].ID }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "programEditor" })
                            @Html.ActionLink("Delete", "DeleteProgram", new { ID = Model[i].ID })
                            @Html.ActionLink("Editions", "EditionSettings", new { programID=Model[i].ID})
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
